
/* Fonts */

@font-face {
    font-family: Lato-Regular;
    src: url('assets/fonts/LatoLatin-Regular.ttf'); 
}

/* Colors */

:root {
    --watermelon: #ff7b6d;
    --text: #dadada;
    --background: #252525;
}

/* Text */

h1 {
    text-align: center;
}
body {
    color: var(--text);
    background-color: var(--background);
    font-family: Lato-Regular;
    font-size: 110%;
    text-align: justify;
}
.content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    min-width: 500px;
    max-width: 1000px;
}

/* Misc */

.images {
    text-align: center;
}
.images img {
    margin: 0.5%;
    display: inline-block;
    width: 48%;
}
.icons {
    text-align: center;
    font-size: 150%;
}
a {
    color: var(--watermelon);
    text-decoration: none;
}
